<!-- YI ELD-->
<ul>
<li> <%= @name %>  </li>
<li> <%= @id %>    </li>

</ul>

<ul class="media-grid">
          <li>
            <a href="#">
              <img class="thumbnail" src="<%= @photo%>"  alt="">
            </a>
          </li>

        </ul>


